@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color: #c4cad0;
    --second-color: #878c8f;
    --third-color: #7c7c7c;
    --fourth-color: #fcf7ff;
}

*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    background: var(--second-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: var(--primary-color);
    padding: 50px;
    border-radius: 8px;
}

h1, h2{
    text-align: center;
}

.formula {
    text-align: center;
    text-decoration:solid;
}

form input, form label,  form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 20px;
    height: 30px;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
}

form input:focus {
    outline: 1px solid var(--second-color)
}

form button {
    border: none;
    border-radius: 8px;
    background: var(--second-color);
    color: var(--fourth-color);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background: var(--third-color);
}

.paragrafo-resultado, .bad {
    background: rgb(10, 142, 10);
    padding: 10px 20px;
}

.bad{
    background: rgb(222, 17, 17);
}

